In [44]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [45]:
lst = ['alaa','sara','ahmed'] 
s = pd.Series(lst,index=[1, 2, 3])
s

1     alaa
2     sara
3    ahmed
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [46]:
s = pd.Series(lst, index=[11,12,13 ])
s

11     alaa
12     sara
13    ahmed
dtype: object

## Q3: Retrieve First and second elements.

In [47]:
print(s.loc[11:12])

11    alaa
12    sara
dtype: object

## Q4: Add duplicate elements, then remove the duplication

In [48]:
s4 = pd.Series({11: 'ahmed'})
s = s.append(s4)
s

11     alaa
12     sara
13    ahmed
11    ahmed
dtype: object

In [49]:
# drop duplicate elements
s.drop_duplicates()

11     alaa
12     sara
13    ahmed
dtype: object

## Q5: Create a Students DataFrame has two columns (ID, Name)

In [50]:
data = {'Name': ['Alaa', 'Thekra', 'Rahaf'],
           'ID': [1, 2, 3]
          }

StudentsDF = pd.DataFrame(data, columns=['Name', 'ID'])
StudentsDF

     Name  ID
0    Alaa   1
1  Thekra   2
2   Rahaf   3

## Q6: Read educ_figdp_1_Data.csv file

In [51]:
data1 = pd.read_csv('/content/educ_figdp_1_Data.csv')
data1

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e
...,...,...,...,...,...
379,2007,Finland,Total public expenditure on education as % of ...,5.90,NaN
380,2008,Finland,Total public expenditure on education as % of ...,6.10,NaN
381,2009,Finland,Total public expenditure on education as % of ...,6.81,NaN
382,2010,Finland,Total public expenditure on education as % of ...,6.85,NaN
383,2011,Finland,Total public expenditure on education as % of ...,6.76,NaN

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

#loc Retrieves the end index from within the rows, but the slicing does not take the last index

In [52]:
data1.loc[4:10, ['TIME', 'GEO']]

    TIME                            GEO
4   2004  European Union (28 countries)
5   2005  European Union (28 countries)
6   2006  European Union (28 countries)
7   2007  European Union (28 countries)
8   2008  European Union (28 countries)
9   2009  European Union (28 countries)
10  2010  European Union (28 countries)

In [53]:
data1[4:10]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e
5,2005,European Union (28 countries),Total public expenditure on education as % of ...,4.92,e
6,2006,European Union (28 countries),Total public expenditure on education as % of ...,4.91,e
7,2007,European Union (28 countries),Total public expenditure on education as % of ...,4.92,e
8,2008,European Union (28 countries),Total public expenditure on education as % of ...,5.04,e
9,2009,European Union (28 countries),Total public expenditure on education as % of ...,5.38,e